<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
</head>
<style media="screen">
    ul {
        list-style: none;
    }

    .userList {
        cursor: pointer;
    }

    .usersDiv {
        width: 30%;
        float: left;
        margin: 1em;
    }

    .chatDiv {
        margin: 2em;
    }
</style>

<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="usersDiv">
            <ul>
                <li class="userList" ng-repeat="x in myData">
                    <p ng-click="showUserInfo(x)" ng-model="x.userProfile.name"> {{x.userProfile.name}}</p>
                </li>
            </ul>
            <ul>
                <li>Профиль пользователя:</li>
                <li><img src="{{currentUser.userProfile.avatar}}" /></li>
                <li>{{"Имя : "+currentUser.userProfile.name}}</li>
                <li>{{"Язык : "+currentUser.userProfile.language}}</li>
                <li>{{"Страна : "+currentUser.userProfile.country}}</li>

                <li>{{"Добавлен : "+currentUser.created}}</li>
                <li>{{"Имя связанного бота : "+linkedBotName}}</li>
            </ul>
        </div>

        <div class="chatDiv">
            <ul>
                <li ng-repeat="x in messages">{{x.timestamp +" "+x.from +":"+x.text}}</li>
            </ul>
            <input type="text" ng-model="messageText">
            <input type="submit" ng-click="sendMessage()">
        </div>

    </div>



    <script>
        var app = angular.module("myApp", []);

        app.controller("myCtrl", function($scope, $http) {

            $scope.showUserInfo = function(user) {
                $scope.currentUser = user;
                $http.get("/bots/" + user.linkedBotToken).then(function(response) {
                    $scope.linkedBotName = response.data.name;
                });
                $http.get("/history/" + user.linkedBotToken + "/" + user.token).then(function(response) {
                    console.log(response.data.messages);
                    response.data.messages.forEach((message) => {
                        message.timestamp = new Date(message.timestamp);
                    })
                    $scope.messages = response.data.messages;
                });
            }

            $scope.sendMessage = function() {
                $scope.messages.push({
                    time: new Date(),
                    who: $scope.linkedBotName,
                    text: $scope.messageText
                })
                $http.put("/bots/" +
                    $scope.currentUser.linkedBotToken +
                    "/" + $scope.currentUser.token, {
                        text: $scope.messageText
                    });
            }
            $http.get("/users")
                .then(function(response) {
                    $scope.myData = response.data;
                });
        });
    </script>
</body>

</html>
